.ui-menu { 
    overflow: hidden;
}


.ui-menu > li { 
    float: left;
    display: block;
    width: auto !important;
}

.ui-menu .ui-menu {
    overflow: visible !important;
}

.ui-menu ul li {
    display:block;
    float:none;
}
.ui-menu ul li ul {
    left:120px !important;
    width:100%;
}
.ui-menu ul li ul li {
    width:auto;
}




